<%- include('./partials/header.ejs') %>
    <h1>Food with Friends!</h1>
    <h3>Look what's in your pantry!</h3>
    
    <ul>
    <% for (let i =0; i < recipes.length; i++) { %>
        
            <li>
                <button><a href="/recipes/<%=recipes[i].id%>"><%=recipes[i].name%></a></button>
            </li>
        
        <% } %>
    </ul>
<a href="/recipes/new">Add a New Recipe</a>
<a href="/recipes/public">Visit the Public Pantry</a>
<%- include ('./partials/footer.ejs') %>