<%- include('./partials/header.ejs') %>
<button><a href="/recipes/new">Add a New Recipe</a></button>    
<h1>Food with Friends!</h1>
    <h3>Look what's in your pantry!</h3>
    <ul>
    <% for (let i =0; i < recipes.length; i++) { %>
        
            <li>
                <button><a href="/recipes/<%=recipes[i].id%>"><%=recipes[i].name%></a></button>
            </li>
        
        <% } %>
    </ul>

<%- include ('./partials/footer.ejs') %>