<%- include('./partials/header.ejs') %>
<button><a href="/recipes">Back to your Recipes</a></button>    
<h1>Add a New Recipe</h1>

    <form action="/recipes" method="POST">
        Name: <input type="text" name="name"> <br/>
        Ingredients: <input type="text" name="ingredients"> <br/>
        Directions: <input type="text" name="directions"> <br/>
        Image: <input type="text" name="img"> <br/>
        Link: <input type="text" name="link"> <br/>
        How many does this serve?: <input type="text" name="qty"> <br/>

        <input type="submit" value="Add Recipe">
    </form>
<%- include ('./partials/footer.ejs') %>