<%- include('./partials/header.ejs') %>
<img id="diamond" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond1" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond2" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond3" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond4" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond5" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond6" class="diamond" src="/images/Background_img-removebg-preview.png">

<img id="diamond7" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond8" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond9" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond10" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond11" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond12" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond13" class="diamond" src="/images/Background_img-removebg-preview.png">
<h1>Add a New Recipe</h1>

    <form action="/recipes" method="POST">
        Name: <input type="text" name="name"> <br/>
        Ingredients: <input type="text" name="ingredients"> <br/>
        <div class="ingredient">
            
        </div>
        <button class="addIngredient" type="button">add an ingredient</button> <br/>

        Directions: <input type="text" name="directions"> <br/>
        <div class="direction">
            
        </div>
        <button class="addDirection" type="button">add a direction</button> <br/>
        Image: <input type="text" name="img"> <br/>
        Link: <input type="text" name="link"> <br/>
        How many does this serve?: <input type="text" name="qty"> <br/>

        <input type="submit" value="Add Recipe">
    </form>

    <script>
        let ingredientButton = document.querySelector(".addIngredient")
        ingredientButton.addEventListener("click", addIngredientInput)
    function addIngredientInput() {
        const ingredientCreate = document.createElement('input')
        ingredientCreate.setAttribute('name', 'ingredients')
        document.querySelector('.ingredient').append(ingredientCreate)}

        let directionButton = document.querySelector(".addDirection")
        directionButton.addEventListener("click", addDirectionInput)
    function addDirectionInput() {
        const directionCreate = document.createElement('input')
        directionCreate.setAttribute('name', 'directions')
        document.querySelector('.direction').append(directionCreate)}
    </script>

<%- include ('./partials/footer.ejs') %>