<%- include('./partials/header.ejs') %>
<img id="diamond" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond1" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond2" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond3" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond4" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond5" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond6" class="diamond" src="/images/Background_img-removebg-preview.png">

<img id="diamond7" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond8" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond9" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond10" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond11" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond12" class="diamond" src="/images/Background_img-removebg-preview.png">
<img id="diamond13" class="diamond" src="/images/Background_img-removebg-preview.png">
<h1>Food with Friends!</h1>
<h3>Make new friends and try new things!</h3>
<div class="index"> 
<% for (let i =0; i < recipes.length; i++) { %>
        
   <ul>
        <li>
            <button><a href="/recipes/public/<%=recipes[i].id%>"><%=recipes[i].name%></a></button>
        </li>
    </ul>

<% } %>
</div>
<%- include ('./partials/footer.ejs') %>