<!DOCTYPE html>
<head>
    <title>Recipe Card</title>
</head>
<body>
    <h2><%=recipe.name%></h2>
<ul>
    <li><%=recipe.ingredients%></li>
    <li>Directions <%=recipe.directions%></li>
</ul>
<img src="<%=recipe.img%>">
<footer>
    <a href="/recipes">Back to products</a>
</footer>
</body>
</html>