<%- include('../partials/header.ejs') %>
<img id="diamond" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond1" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond2" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond3" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond4" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond5" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond6" class="diamond" src="/images/Background_img-removebg-preview.png">

    <img id="diamond7" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond8" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond9" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond10" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond11" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond12" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond13" class="diamond" src="/images/Background_img-removebg-preview.png">
	<h1>Sign In</h1>
	<form action="/users/signin" method="POST">
		<fieldset>
			<label for="username">Username:</label>
			<input type="text" name="username" id="username">
		</fieldset>
		<fieldset>
			<label for="password">Password:</label>
			<input type="password" name="password" id="password">
		</fieldset>
		<input type="submit" value="Sign In">
	</form>
	<%- include ('../partials/footer.ejs') %>